body {
  background-color: #F2F5FA;
}
.navbar {
  background-color: #ffffff;
  margin-bottom: 2rem;

  &-brand {
    img {
      width: auto;
      height: 20px;
    }
  }
}
.card {
  &-body {
    padding: 1rem 0 0 0;
  }
  &-control {
    padding: 1rem 3rem;
    padding-bottom: 0;
    border-bottom: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-group {
      max-width: 300px;
    }
  }
  &-row {
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    text-transform: uppercase;
    color: #89939E;

    &:last-child {
      border-bottom: 0;
    }
    &_heading {
      padding-bottom: .5rem;

      .card-field {
        padding: 0 1rem;
      }
    }
    &_group {
      background-color: transparentize($color: #F6F8FA, $amount: .4);
      font-weight: 400;
      color: #C2CBD5;

      .card-field {
        padding: .5rem 1rem;
      }
    }
    &_data {
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
      
      .card-field {
        padding: 1rem;
      }
      .card-field_route {
        text-transform: initial;
      }
      &:hover {
        background-color: transparentize($color: #F6F8FA, $amount: .6);
      }
    }
  }
  &-field {
    display: flex;
    align-items: center;

    &_name {
      width: 22%;
      margin-left: 3%;
    }
    &_route {
      width: 20%;
    }
    &_description {
      width: 45%;
    }
    &_method {
      width: 10%;
    }
    &_primary {
      color: #007BFF;
    }
    &_success {
      color: #17C671;
    }
    &_info {
      color: #00B8D8;
    }
    &_warning {
      color: #FFB400;
    }
    &_danger {
      color: #C4183C;
    }
  }
}
.collapse {
  &-inner {
    border-top: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    min-height: 400px;
    cursor: default;
    background-color: #ffffff;
    text-transform: initial;
    display: flex;
    justify-content: space-between;
    
    code {
      padding: 1rem 1rem;
    }
  }
}
.content {
  &-left,
  &-right {
    width: 60%;
    min-height: 400px;
  }
  &-left {
    padding: 1.5rem 1rem 1.5rem 3rem;
  }
  &-right {
    border-left: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    background-color: #eaeef3;
  }
  &-code {
    padding: .5rem 1rem;
    background-color: #ffffff;
  }
  &-title {
    font-size: 1rem;

    span {
      padding: .6rem 1rem .5rem 1rem;
      border-radius: 4px;
      font-size: .8rem;
      margin-right: .5rem;
      color: #ffffff;
    }
  }
  &-description {
    margin: 1rem 0 .5rem 0;
  }
  &-route {
    padding: .5rem 1rem;
    background-color: transparentize($color: #D7DEE6, $amount: .5);
    border-radius: 4px;
    position: relative;

    button {
      padding: .4rem .5rem;
      font-size: .6rem;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
    &:last-child {
      padding: .5rem;

      button {
        top: 1rem;
        transform: translate(0);
      }
    }
  }
  pre {
    margin: 0;
  }
  code {
    min-height: 200px;
  }
}