

      <!-- Form Controls -->
      <div id="forms" class="container mb-5">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
          <h3 class="mb-4">Form Controls</h3>
          <p>All form controls are improved with micro-transitions and shadows that bring depth and improve the overall user
            experience.
          </p>
        </div>

        <!-- Form Controls - Simple Forms: Default / Using Icons (Seamless) -->
        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
          <h5>Simple Forms</h5>

          <!-- Form Controls: Simple Forms -->
          <div class="row mb-5">
            <div class="col-md-12">
              <form>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="form1-name" class="col-form-label">Name</label>
                    <input type="text" class="form-control" id="form1-name" placeholder="Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="form1-email" class="col-form-label">Email</label>
                    <input type="email" class="form-control" id="form1-email" placeholder="Email">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <label for="form1-password">Password</label>
                    <input type="password" class="form-control" id="form1-password" placeholder="Password" required>
                  </div>
                  <div class="col-md-3 mb-4">
                    <label for="form1-state">State</label>
                    <select class="custom-select" id="form1-state">
                      <option value="" selected>Choose One</option>
                      <option value="1">California</option>
                      <option value="2">Virginia</option>
                      <option value="3">Texas</option>
                      <option value="4">Florida</option>
                    </select>
                  </div>

                  <div class="col-md-3 mb-4">
                    <label for="form1-zip">Zip</label>
                    <input type="text" class="form-control" id="form1-zip" placeholder="Zip" required>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Form Controls: Using Icons -->
          <h5 class="mb-4">Using Icons</h5>
          <p>Form controls can be stylised by utilizing icons from either supported packs. They can be placed inside default
            or seamlessly integrated input group addons.</p>

          <!-- Form Controls: Using Icons - Seamless -->
          <div class="row mb-2">
            <div class="col-12">
              <h6 class="text-muted">Seamless</h6>
              <form>
                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="input-group input-group-seamless">
                      <span class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </span>
                      <input type="text" class="form-control" id="form1-username" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group input-group-seamless">
                      <input type="password" class="form-control" id="form2-password" placeholder="Password">
                      <span class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-lock"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Form Controls: Using Icons - Default -->
          <div class="row mb-2">
            <div class="col-12">
              <h6 class="text-muted">Default</h6>
              <form>
                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <span class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </span>
                      <input type="text" class="form-control" id="form2-username" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group">
                      <input type="password" class="form-control" id="form3-password" placeholder="Password">
                      <span class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-lock"></i>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Form Controls: Custom Controls -->
        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="container">
            <div class="row">
              <h5 class="mb-4 w-100">Custom Controls</h5>
              <p class="mb-5">The default custom form fields are improved and extended. One of the new additions being the
                <strong>toggle switch</strong> control.</p>
            </div>

            <div class="row mb-5">
              <div class="custom-controls-example col-md-3 col-sm-3 col-xs-12 pl-0">
                <h6 class="text-muted mb-2">Checkboxes</h6>
                <fieldset>
                  <div class="custom-control custom-checkbox d-block my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Pizza</label>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="custom-control custom-checkbox d-block my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                    <label class="custom-control-label" for="customCheck2">Pasta</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-checkbox d-block my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Burgers</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-checkbox d-block my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                    <label class="custom-control-label" for="customCheck4">Tacos</label>
                  </div>
                </fieldset>
              </div>
              <div class="custom-controls-example col-md-3 col-sm-3 col-xs-12">
                <h6 class="text-muted mb-2">Radio Buttons</h6>
                <fieldset>
                  <div class="custom-control custom-radio d-block my-2">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Cookies</label>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="custom-control custom-radio d-block my-2">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadio2">Pancakes</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-radio d-block my-2">
                    <input type="radio" id="customRadio3" name="customRadioDisabled" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">Chocolate</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-radio d-block my-2">
                    <input type="radio" id="customRadio4" name="customRadioDisabled" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadio4">Pancakes</label>
                  </div>
                </fieldset>
              </div>
              <div class="custom-controls-example col-md-4 col-sm-4 col-xs-12 pl-5">
                <h6 class="text-muted mb-1">Toggles</h6>
                <fieldset>
                  <div class="custom-control custom-toggle d-block my-2">
                    <input type="checkbox" id="customToggle1" name="customToggle1" class="custom-control-input">
                    <label class="custom-control-label" for="customToggle1">Rockets</label>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="custom-control custom-toggle d-block my-2">
                    <input type="checkbox" id="customToggle2" name="customToggle2" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customToggle2">Lasers</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-toggle d-block my-2">
                    <input type="checkbox" id="customToggle3" name="customToggle3" class="custom-control-input">
                    <label class="custom-control-label" for="customToggle3">HAL 9K</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-toggle d-block my-2">
                    <input type="checkbox" id="customToggle4" name="customToggle4" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customToggle4">Ultron</label>
                  </div>
                </fieldset>
              </div>
              <div class="custom-controls-example col-md-2 col-sm-2 col-xs-12 pl-3">
                <h6 class="text-muted mb-1">Sizes</h6>

                <fieldset>
                  <div class="custom-control custom-toggle custom-toggle-sm d-block my-2">
                    <input type="checkbox" id="customToggle1sm" name="customToggle1sm" class="custom-control-input">
                    <label class="custom-control-label" for="customToggle1sm">Rockets</label>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="custom-control custom-toggle custom-toggle-sm d-block my-2">
                    <input type="checkbox" id="customToggle2sm" name="customToggle2sm" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customToggle2sm">Lasers</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-toggle custom-toggle-sm d-block my-2">
                    <input type="checkbox" id="customToggle3" name="customToggle3" class="custom-control-input">
                    <label class="custom-control-label" for="customToggle3">HAL</label>
                  </div>
                </fieldset>

                <fieldset disabled>
                  <div class="custom-control custom-toggle custom-toggle-sm d-block my-2">
                    <input type="checkbox" id="customToggle4" name="customToggle4" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customToggle4">Ultron</label>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6 pl-0 custom-dropdown-example">
                <h6 class="text-muted mb-3">Custom Dropdown</h6>
                <fieldset>
                  <select class="custom-select w-100" required>
                    <option value="">Select Favourite Number</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </fieldset>
              </div>

              <div class="col-md-6 pl-0">
                <h6 class="text-muted mb-3">Custom File Input</h6>
                <fieldset>
                  <div class="custom-file w-100">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file...</label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <h5 class="mb-4">Validation</h5>
              <p class="mb-4">Form validation is also improved to match the new overall form feel, while following the same interaction principles
                for consistency.</p>
              <form class="was-validated">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="form-2-first-name">First name</label>
                    <input type="text" class="form-control is-valid" id="form-2-first-name" placeholder="First name" value="Catalin" required>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="form-2-last-name">Last name</label>
                    <input type="text" class="form-control is-valid" id="form-2-last-name" placeholder="Last name" value="Vasile" required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="form-2-city">City</label>
                    <input type="text" class="form-control is-invalid" id="form-2-city" placeholder="City" required>
                    <div class="invalid-feedback">
                      Invalid city
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="form-2-state">State</label>
                    <input type="text" class="form-control is-invalid" id="form-2-state" placeholder="State" required>
                    <div class="invalid-feedback">
                      Invalid state
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="form-2-zip">Zip</label>
                    <input type="text" class="form-control is-invalid" id="form-2-zip" placeholder="Zip" required>
                    <div class="invalid-feedback">
                      Invalid ZIP code
                    </div>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-6 mb-3">
                    <label for="form-file-4">Photo ID Scan</label>
                    <div class="custom-file w-100">
                      <input type="file" class="custom-file-input" id="customFile2" required>
                      <label class="custom-file-label" for="customFile2">Choose file...</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="d-block" for="form-3-select">Favourite Number</label>
                    <select class="custom-select w-100" id="form-3-select" required>
                      <option value="">Invalid select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="form-3-terms" required>
                      <label class="custom-control-label" for="form-3-terms">Do you agree to our terms & conditions?</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="custom-controls-stacked d-block">
                      <div class="custom-control custom-radio mb-1">
                        <input type="radio" id="radioStacked1" name="radio-stacked" class="custom-control-input" required>
                        <label class="custom-control-label" for="radioStacked1">Subscribe me</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio5" name="radio-stacked" class="custom-control-input" required>
                        <label class="custom-control-label" for="customRadio5">Don't subscribe me</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Sliders -->
      <div id="sliders" class="container mb-5" style="padding-bottom: 1px">
        <div class="my-5">
          <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
            <h3 class="mb-4">Sliders</h3>
            <p>Sliders are also a new custom control and can be integrated almost anywhere with minimal markup
              <i>(a single element)</i> and extended customisation options via JavaScript.</p>
          </div>

          <div class="example col-lg-8 col-md-10 ml-auto mr-auto mb-0">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div id="slider-example-1">
                  <input type="hidden" class="custom-slider-input">
                  <input type="hidden" class="custom-slider-input">
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div id="slider-example-2">
                  <input type="hidden" class="custom-slider-input">
                  <input type="hidden" class="custom-slider-input">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="slider-example-3">
                  <input type="hidden" class="custom-slider-input">
                  <input type="hidden" class="custom-slider-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Datepickers -->
      <div id="datepickers" class="container">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
          <h3 class="mb-4">Datepickers</h3>
          <p>Datepickers are also available and similar to slider controls they are
            <strong>very easy to create</strong>, being based on a single input element. Datepickers are customisable as well, letting
            you create complex configurations with range selections for example.</p>
        </div>

        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <label for="datepicker-example-1">Date of Birth</label>
                <div class="input-group with-addon-icon-left">
                  <input type="text" class="form-control" id="datepicker-example-1" placeholder="Date of Birth">
                  <span class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="form-group">
                <label>Employment Period</label>
                <div class="input-daterange input-group" id="datepicker-example-2">
                  <span class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                  <input type="text" class="input-sm form-control" name="start" placeholder="Start Date"/>
                  <span class="input-group-middle"><span class="input-group-text">-</span></span>
                  <input type="text" class="input-sm form-control" name="end" placeholder="End Date" />
                  <span class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>