{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["@babel/plugin-transform-regenerator", {
      "asyncGenerators": false,
      "generators": false,
      "async": false
    }],
    ["transform-es2015-template-literals", {
      "loose": true,
      "spec": true
    }]
  ]
}