$white : #FFFFFF;
$grey : #BFC3C5;
$blue : #6687DE;
$violet: #6687DE;
$purple: #454BD2;
$dark-grey : #676A6B;
$dark-mode: #090C26;
$dark-mode-border: #090C26;

@mixin font-quicksands-medium {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
}
@mixin font-quicksands-bold {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
}

.card {
  background: #FFFFFF;
  border: 0.5px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(229, 229, 229, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;

  &-action {
    position: absolute;
    top: 36px;
    right: 36px;
  }
  &-heading {
    display: flex;
    padding: 8px 18px;
  }
  &-item {
    margin-right: 36px;

    &:last-child {
      margin: 0;
    }
    &:nth-child(1) {
      width: 160px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 80px;
    }
    &_title {
      @include font-quicksands-medium;

      font-size: 14px;
      color: $grey;
    }
    &_description {
      @include font-quicksands-medium;

      font-size: 16px;
      color: $dark-grey;
    }
  }
  &-body {
    color: #676A6B;
  }
  .collapse {
    background-color: #F7FAFA;
    border-radius: 6px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
  }
}
.dark-mode {
  .card {
    background: #151A44;
    border: 0.5px solid $dark-mode-border;

    &-action {
      &_button {
        color: $white;
      }
    }
    &-item {
      &_description {
        color: $white;
      }
    }
    &-body {
      color: $white;
    }
    .viewer-content {
      color: $dark-grey;
    }
  }
}
.page {
  &-title {
    @include font-quicksands-medium;

    font-size: 20px;
    color: $grey;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}