.card {
  &-body {
    padding: 1rem 0;
  }
  &-row {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    text-transform: uppercase;
    color: #89939E;

    &:last-child {
      border-bottom: 0;
    }
    &_group {
      background-color: transparentize($color: #F6F8FA, $amount: .4);
      font-weight: 400;
      color: #C2CBD5;
    }
    &_data {
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
      
      .card-field {
        padding: 1rem;
      }
      &:hover {
        background-color: transparentize($color: #F6F8FA, $amount: .6);
      }
    }
  }
  &-field {
    padding: .5rem 1rem;

    &_name {
      width: 17%;
      margin-left: 3%;
    }
    &_route {
      width: 20%;
    }
    &_description {
      width: 40%;
    }
    &_method {
      width: 20%;
    }
    &_primary {
      color: #007BFF;
    }
    &_success {
      color: #17C671;
    }
    &_info {
      color: #00B8D8;
    }
    &_warning {
      color: #FFB400;
    }
    &_danger {
      color: #C4183C;
    }
  }
}