body {
  background-color: #F2F5FA;
}
.navbar {
  background-color: #ffffff;
  margin-bottom: 2rem;

  &-brand {
    img {
      width: auto;
      height: 20px;
    }
  }
}
.card {
  &-body {
    padding: 1rem 0;
  }
  &-control {
    padding: 1rem 3rem;
    padding-bottom: 0;
    border-bottom: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-group {
      max-width: 300px;
    }
  }
  &-row {
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    text-transform: uppercase;
    color: #89939E;

    &:last-child {
      border-bottom: 0;
    }
    &_heading {
      padding-bottom: .5rem;

      .card-field {
        padding: 0 1rem;
      }
    }
    &_group {
      background-color: transparentize($color: #F6F8FA, $amount: .4);
      font-weight: 400;
      color: #C2CBD5;

      .card-field {
        padding: .5rem 1rem;
      }
    }
    &_data {
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      cursor: pointer;
      
      .card-field {
        padding: 1rem;
      }
      .card-field_route {
        text-transform: initial;
      }
      &:hover {
        background-color: transparentize($color: #F6F8FA, $amount: .6);
      }
    }
  }
  &-field {
    display: flex;
    align-items: center;

    &_name {
      width: 22%;
      margin-left: 3%;
    }
    &_route {
      width: 20%;
    }
    &_description {
      width: 45%;
    }
    &_method {
      width: 10%;
    }
    &_primary {
      color: #007BFF;
    }
    &_success {
      color: #17C671;
    }
    &_info {
      color: #00B8D8;
    }
    &_warning {
      color: #FFB400;
    }
    &_danger {
      color: #C4183C;
    }
  }
}
.collapse {
  &-inner {
    border-top: 1px solid transparentize($color: #D7DEE6, $amount: .5);
    min-height: 400px;
    background-color: #ffffff;
    
    .nav {
      background-color: #ffffff;
      border-bottom: 1px solid transparentize($color: #D7DEE6, $amount: .5);

      &-item {
        border-radius: 0;
        border-right: 1px solid transparentize($color: #D7DEE6, $amount: .5);

        &:last-child {
          border-right: 0;
        }
      }
      &-link {
        border-radius: 0;
        color: #0077ff;
        padding: .8rem;

        &.active {
          color: #0077ff;
          background-color: #eff2f7;
        }
      }
    }
    .tab {
      &-content {
        padding: 0 3rem;
        background-color: #ffffff;
      }
    }
  }
}